.hide {
   display: none;
}

.car {
   background: url('../image/player.png') center / cover no-repeat;
}

.car,
.enemy {
   width: 100px;
   height: 200px;
   position: absolute;
   left: 100px;
   bottom: 10px;
}

.gameArea {
   width: 300px;
   position: relative;
   height: 100vh;
   margin: 0 auto;
   background: #000;
   overflow: hidden;
}

.line {
   position: absolute;
   width: 10px;
   height: 55px;
   background: #fff;
   left: 145px;
}